# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Production builds
client/dist/
server/dist/

# Logs
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db